*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body{
    background-image: url(/img/fondo.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0%;
}

.contenedor{
    display: flex;
    padding: 30px;
    height: 92vh;
    gap: 10px;
}

/* Side perfil */
aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    background: rgba(246, 133, 214, 0.436);
    border-radius: 9px;
    box-shadow: 2px 2px 15px rgb(78, 41, 67);
}

.profile{
    width: 30%;
    border-radius: 50%;
    margin: 30px 0 15px;
}

.name{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 10px;
}

.bio{
    padding: 10px;
    margin: 5px 10px;
    text-align: center;
}

.recetas{
    width: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.comida{
    width: 300px;
    border-radius: 50%;
}

.comida:hover{
    cursor: pointer;
    opacity: .75;
}

