*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.contenedor{
    display: flex;
    padding: 30px;
    height: 92vh;
    gap: 10px;
}

/* Side perfil */
aside{
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}

.profile{
    width: 33%;
    border-radius: 50%;
    margin: 30px 0 15px;
}

.name{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 10px;
}

.bio{
    padding: 10px;
    margin: 5px 10px;
    text-align: center;
}

.recetas{
    border: 1px solid violet;
    width: 66%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.comida{
    width: 30%;
    border-radius: 50%;
}